<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
	
	
	<style>
		@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
	</style>
</head>

<body style="background-color: #f6f6f6; font-family: 'Roboto'; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;">
        <tr>
            <td style="font-family: 'Roboto'; font-size: 14px; vertical-align: top;">&nbsp;</td>
            <td class="container" style="font-family: 'Roboto'; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;">
                <div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">
                    <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;padding:5px;">
                        <tr>
                            <td>
                                <div class="" style="height: 70px;background-color: #ffffff; background-image: url('http://fh.astrafinancial.co.id/astra-high.png');background-repeat: no-repeat;background-size: 40%;background-position: left center;border-bottom: 1px solid #ddd;margin-bottom: 30px;">
                                    <div class="" style="color: #a7a7a7;text-align: right;float: right;width: 100%;padding-right: 15px;padding-top: 25px;"><span style="font-family: 'Calibri';" th:text="${type}"></span></div>
                                </div>
                                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; color: black;">
                                    <tr>
                                      <td style="font-family: 'Calibri'; font-size: 14px; vertical-align: top;">
                                        <p style="font-family: 'Calibri'; font-size: 20px; font-weight: 800; margin: 0; margin-bottom: 15px;">Hai, <span style="text-transform: capitalize;" th:text="${name}"></span>!</p>
                                            <p style="font-family: 'Calibri'; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;"><span th:utext="${message}"></span></p>
                                            <p style="font-family: 'Calibri'; font-size: 14px; font-weight: normal; margin: 0;">Salam hangat,</p>
											<p style="font-family: 'Calibri'; font-size: 14px; font-weight: normal; margin: 0; font-weight:700">Octopus</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>

</html>